{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block styles %}
            
            {% bootstrap_css %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        {% endblock %}
    </head>

    <body style="font-family: 'Montserrat';text-align: center; background-color: ;">
        {%block nav%}
            {% include "navbar.html" %}
        {% endblock%}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>


</html>