<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="jumbotron">
        <div class="navbar-header" style="text-align: center;">
            <a class="navbar-brand" href="{%url 'gallery'%}">My Gallery</a>
        </div>
    </div>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
  
      </ul>
      <form class="form-inline my-2 my-lg-0"role="search" action="{% url 'search_results'%}">
        <input class="form-control mr-sm-2" type="search" name="category" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>