html{
    font-family: "Montserrat";
}
body{
    text-align: center;
}
.message{
    margin:2%;
}
.images{
    text-align: center;
    padding: 42px;
    display: flexbox;
    
    width: 100%;
    margin-left: 10%;   
}
.image{
    width: 300px;
    
    
}

.photo{
    width: 90%;
    border-radius: 10px;
}

.col-md-4{
    width: 100%;
}

h2{
    text-align: center;
    font-style: italic;
}

a{
    color: black;
}
